img {
    width: 75%;
}

a {
    color: black;
}

.login-form {
    -webkit-box-shadow: 7px 2px 56px -17px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 7px 2px 56px -17px rgba(0, 0, 0, 0.41);
    box-shadow: 7px 2px 56px -17px rgba(0, 0, 0, 0.41);
    padding: 30px;
    border-top: 5px solid var(--main-color);
}

.login-form .btn-light {
    background-color: var(--main-color);
    color: white;
}

.login-form .btn-light:hover,
.login-form .btn-light:focus {
    box-shadow: inset 40rem 0 0 0 black;
    color: white;
    border-left: 5px solid var(--main-color);
    opacity: 1;
}

@media only screen and (min-width: 1215px) {
    .login-form {
        padding: 60px;
    }
}